* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  background: #fff;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  
}



@media screen and (max-width: 960px) {
 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  .container {
    background: #fff;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    
  }
}
